.block {
    background-color: #eae7f4;
    box-sizing: border-box;
    overflow: auto;
    height: 550px;
    border: 1px solid #000;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.block1 {
    display: inline-block;
    background-color: #bfa787;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    margin: 10px 5px;
    padding: 5px 30px;
    box-shadow: inset 0px 0px 20px 0px #4e4a4a;
    opacity: .9;
    font-size: 18px;
    ;
}