.hero__ {
    &inner {
        display: grid;
        grid-template-columns: 1fr .8fr;
    }

    &content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        max-width: 590px;
    }

    &title {
        font-size: 60px;
        line-height: 1.3;
        margin-bottom: 30px;
    }

    &text {
        font-size: 20px;
        max-width: 410px;
        opacity: .7;
        margin-bottom: 60px;
    }

    &buttons {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &tel {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $button-color;
        border-radius: 50%;
        transition: $transition;

        path {
            transition: $transition;
        }

        &:hover {
            background: $button-color;
        }

        &:hover path {
            fill: #fff;
        }
    }

    &img {
        max-width: 839px;
        position: relative;
        z-index: -1;

        img {
            width: 100%;
        }
    }

}

.quality__ {
    &inner {
        display: flex;
        background: #fbf8ff;
        border-radius: 50px;
        padding: 30px;
    }

    &img {
        img {
            width: 100%;
        }
    }

    &info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
    }

    &title {
        font-size: 50px;
        line-height: 1.3;
        max-width: 436px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: url('../img/icons/star-y.svg');
            position: absolute;
            max-width: 30px;
            top: -20%;
            right: -10%;

        }
    }

    &text {
        max-width: 436px;
        font-size: 18px;
    }

}

.works__ {
    &inner {
        padding: 20px;
    }

    &top {
        display: flex;
        justify-content: space-between;
    }

    &title {
        font-size: 50px;
        line-height: 1.3;
        margin-bottom: 80px;
    }

    &button {
        display: none;
        border-radius: 64px;
        padding: 14px 30px;
        background: #4db45e;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        height: 100%;

        &-mobile {
            display: none;
            border-radius: 64px;
            padding: 18px 30px;
            background: #4db45e;
            color: #fff;
            font-weight: 500;
            font-size: 12px;
            height: 100%;
            max-width: 160px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    &list {
        display: flex;
        gap: 103px;
    }

    &item {
        img {
            width: 100%;
            max-width: 308px;
        }

        &__img {
            border: 1px solid #343b4e21;
            border-radius: 15px;
            padding: 32px 57px 39px;
            max-width: 422px;
            height: 291px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 18px;
            opacity: .7;
            max-width: 423px;
        }

        &__step {
            font-size: 18px;
        }
    }

    &one {
        background: #ffa3b3;
        padding: 16px 30px;
        color: #fff;
        border-radius: 73px;
        margin-bottom: 34px;
        position: relative;
        max-width: 113px;

        &::after {
            content: url('../img/Line.svg');
            top: 20%;
            right: -365%;
            position: absolute;
        }
    }

    &two {
        padding: 16px 30px;
        color: #fff;
        border-radius: 73px;
        margin-bottom: 34px;
        position: relative;
        max-width: 113px;
        background: #f9c758;

        &::after {
            content: url('../img/Line.svg');
            top: 20%;
            right: -365%;
            position: absolute;
        }
    }

    &three {
        background: #fd856d;
        padding: 16px 30px;
        color: #fff;
        border-radius: 73px;
        margin-bottom: 34px;
        position: relative;
        max-width: 113px;
    }

}

.masters__ {
    &inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 245px;
        padding: 0 60px;
        background: #f5efff;
        border-radius: 50px;
        position: relative;

        &::after {
            content: url('../img/workers/37+.png');
            position: absolute;
            bottom: 1%;
            right: 1%;
            z-index: 1;
        }
    }

    &title {
        font-size: 50px;
        line-height: 1.3;
        max-width: 515px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: url('../img/icons/star-y.svg');
            position: absolute;
            top: 35%;
            right: 0;
        }
    }

    &text {
        max-width: 535px;
        opacity: 0.7;
        font-size: 18px;
    }

    &slider {
        display: flex;
        flex-shrink: 1;
        gap: 40px;
        position: relative;
    }

    &animate {
        display: flex;
        gap: 4px;
    }

    &item {
        background: #fff;
        border-radius: 30px;
        padding: 40px;
        margin-top: 40px;

        &__element {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-size: 18px;
            }
        }
    }

    &img {
        margin-bottom: 40px;
    }

    &name {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 8px;
    }

    &subname {
        display: inline-block;
        opacity: .5;
        margin-bottom: 27px;
    }

    &mobile__animate {
        display: none;
    }
}

.price__ {
    &wrapper {
        border: 1px solid #343b4e33;
        border-radius: 15px;
        padding: 73px 120px;
    }

    &header {
        display: flex;
        justify-content: space-between;
    }

    &top {
        margin-bottom: 80px;
    }

    &title {
        font-size: 50px;
        max-width: 551px;
        line-height: 1.3;
        margin-bottom: 30px;
    }

    &subtitle {
        font-size: 18px;
        max-width: 570px;
        font-weight: 500;
    }

    &name {
        border-radius: 100px;
        border: 1px solid #343b4e26;
        max-width: 312px;
        max-height: 80px;
        padding: 28px 50px;
    }

    &content {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 65px;
        width: 100%;
    }

    &content--mobile {
        display: none;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 25px;
    }

    &mobile__table {
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
            content: "";
            border: 1px solid #343b4e33;
            width: 100%;
            position: absolute;
            top: 125%;
            left: 0%;
        }

        &--dif {
            display: flex;
            flex-direction: column;
            position: relative;

            &::after {
                content: "";
                border: 1px solid #343b4e33;
                width: 100%;
                position: absolute;
                top: 110%;
                left: 0%;
            }
        }

        &--last {
            display: flex;
            flex-direction: column;
        }
    }

    &mobile__table__price {
        display: flex;
        justify-content: space-between;
    }

    &mobile__table__text {
        margin-bottom: 14px;
    }

    &one {
        opacity: .5;
    }

    &two--color {
        color: #ff7826;
        font-weight: 500;
    }

    &two {
        font-weight: 500;
    }

    &two--ns {
        text-decoration: line-through;
    }

    &table__header,
    &table__one,
    &table__two,
    &table__three,
    &table__four {
        display: grid;
        grid-template-columns: 1.5fr .6fr .4fr;

        li {
            max-width: 462px;
        }
    }

    &table__header {
        font-weight: 500;
    }

    &table__header,
    &table__one,
    &table__two,
    &table__four {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 225%;
            left: 0%;
            border: 1px solid rgba(52, 59, 78, 0.15);
            width: 100%;
            height: 0px;
            max-width: 1100px;
        }

    }

    &table__three {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 115%;
            left: 0%;
            border: 1px solid rgba(52, 59, 78, 0.15);
            width: 100%;
            height: 0px;
            max-width: 1100px;
        }
    }

    &table__one__price {
        font-weight: 500;
        color: #ff7826;
    }

    &table__text {
        font-size: 18px;

        p {
            margin-top: 20px;
        }
    }

    &table__price {
        font-weight: 500;
        font-size: 20px;
    }

    &table__sale {
        text-decoration: line-through;
        font-weight: 500;
        font-size: 18px;
    }

    &footer {
        display: flex;
        align-items: center;
        gap: 17px;

        &__arrow {
            border-radius: 100%;
            border: 1px solid #343b4e26;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &full {
        font-size: 24px;
    }

}