@media (max-width:1600px) {
    .masters__ {
        &inner {
            gap: 100px;
        }
    }
}

@media (max-width:1500px) {
    .masters__ {
        &content {
            max-width: 435px;
        }

        &title {
            font-size: 35px;
        }
    }
}

@media (max-width:1300px) {
    .header {
        &__contact {
            flex-direction: column;

            address {
                display: none;
            }
        }

        &__mobile-contact {
            display: flex;
        }
    }

    .quality__ {
        &add {
            margin-top: 8vw;
        }
    }

    .works__ {
        &list {
            gap: 50px;
        }

        &one,
        &two {
            &::after {
                scale: .8;
                transform: translateX(-15%);
            }
        }
    }

    .masters__ {
        &inner {
            &::after {
                transform: scale(.7);
            }
        }

        &title {
            font-size: 30px;
            margin-bottom: 25px;

            &::after {
                transform: scale(.7);
            }
        }

        &text {
            font-size: 18px;
        }

        &img {
            max-width: 130px;
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }

        &name {
            font-size: 14px;
            margin-bottom: 2px;
        }

        &subname {
            font-size: 12px;
            margin-bottom: 15px;
        }

        &item {
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;

            &__element {
                margin-bottom: 5px;

                :last-child {
                    margin-bottom: 0px;
                }

                span {
                    font-size: 10px;
                }
            }
        }
    }

    .swiper {
        max-height: 459px;
    }
}

@media (max-width:1200px) {
    .price__ {
        &top {
            max-width: 432px;
            p {
                font-size: 16px;
            }
        }
        &name {
            max-width: 248px;
            max-height: 60px;
            font-size: 14px;
            padding: 20px;
        }

        &title {
            font-size: 30px;
        }

        &content {
            li {
                font-size: 16px;
            }
        }

        &table__header,
        &table__one,
        &table__two,
        &table__three,
        &table__four {
            display: grid;
            grid-template-columns: 1.2fr .5fr .5fr;
            column-gap: 20px;
        }
        &table__one,
        &table__two {
            &::after {
                top: 150%;
                left: 0%;
            }
        }
        &full {
            font-size: 20px;
        }

    }
}

@media (max-width:1100px) {

    .hero__main,
    .quality__main,
    .works__main,
    .masters__main {
        margin-bottom: 80px;
    }

    .header__contact {
        display: none;
    }

    .burger-icon {
        display: flex;
    }

    .hero__ {
        &title {
            font-size: 40px;
            max-width: 385px;
        }

        &text {
            font-size: 18px;
        }
    }

    .quality__ {
        &title {
            font-size: 30px;
            margin-bottom: 25px;

            &::after {
                transform: scale(.5);
            }
        }

        &text {
            font-size: 16px;
        }
    }

    .works__ {
        &inner {
            max-width: 740px;
            margin: 0 auto;
        }

        &title {
            font-size: 30px;
        }

        &button {
            display: flex;
        }

        &list {
            display: flex;
            flex-direction: column;
            position: relative;

            &::after {
                content: url('../img/line-2.svg');
                position: absolute;
                top: 18.5%;
                left: 46%;
                transform: scale(1.15);
            }
        }

        &item {
            display: flex;
            justify-content: center;
            gap: 77px;

            &__info {
                align-self: flex-end;
            }

            &__img {
                max-width: 355px;
                max-height: 230px;
                margin-bottom: 0;
            }

            &__title {
                font-size: 18px;
            }

            &__text {
                font-size: 16px;
            }

            &__step {
                font-size: 14px;
            }
        }

        &one,
        &two,
        &three {
            padding: 8px 25px;
            max-width: 89px;

            &::after {
                display: none;
            }
        }
    }

    .nav {
        display: none;

        &__item {
            margin-bottom: 20px;
        }
    }

    .masters__ {
        &inner {
            gap: 30px;
            justify-content: space-between;
            border-radius: 20px;
        }

        &content {
            max-width: 335px;
        }

        &text {
            font-size: 16px;
        }

    }

    .footer {
        &__head {
            grid-template-columns: .8fr 1fr 1fr;
            font-size: 20px;
        }

        &__logo {
            grid-column: 1/-1;
        }

        &__basic-nav {
            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

        &__basic-pay {
            h5 {
                text-align: center;
            }

            div {
                justify-content: center;
            }
        }

        &__app {
            ul {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

        }

        &__copy {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
    }
}
@media (max-width:930px) {
    .price__ {
        &wrapper {
            padding: 60px 50px;
        }
        &header {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &top {
            max-width: none;
            text-align: center;
            margin-bottom: 50px;
        }
        &title,
        &subtitle {
            max-width: none;
        }
    }
}
@media (max-width:900px) {
    .hero__ {
        &inner {
            display: flex;
            flex-direction: column;
            gap: 70px;
            align-items: center;
        }

        &content {
            align-items: center;
        }

        &title {
            text-align: center;
            max-width: none;
        }

        &text {
            text-align: center;
        }

        &img {
            max-width: 600px;
        }
    }

    .quality__ {
        &inner {
            flex-direction: column-reverse;
            border-radius: 20px;
        }

        &info {
            margin-right: 0;
            margin-bottom: -10%;
            text-align: center;
        }

        &text {
            max-width: 500px;
        }
    }

    .masters__ {
        &animate__second {
            display: none;
        }
    }
}

@media (max-width:800px) {
    .price__{
        &table__header,
        &table__one,
        &table__two,
        &table__three,
        &table__four {
            grid-template-columns: .9fr .5fr .5fr;
        }
    }
    .footer {
        &__head {
            grid-template-columns: 1fr 1fr;
            font-size: 20px;
            margin-bottom: 50px;

            &-city,
            &-tel {
                justify-self: end;
            }

            &-mail {
                justify-self: baseline;
            }

        }

        &__choice {
            left: -35%;
        }

        &__basic {
            display: grid;
            grid-template-columns: .7fr 1fr;
            gap: 20px 0;

            &-pay {
                justify-self: end;
            }
        }

        &__logo {
            grid-column: 1/2;
        }

        &__app {
            grid-column: 1/-1;
            justify-self: center;

            ul {
                display: flex;
                flex-direction: row;
            }

        }
    }
}

@media (max-width:700px) {
    .container-min {
        padding: 0;
    }

    .quality__inner {
        border-radius: 0;
    }

    .works__ {
        &top {
            justify-content: center;
        }

        &title {
            margin-bottom: 40px;
        }

        &button {
            display: none;

            &-mobile {
                display: block;
            }
        }

        &list {
            gap: 30px;

            &::after {
                display: none;
            }
        }

        &item {
            flex-direction: column;
            align-items: center;
            gap: 25px;

            &__info {
                align-self: center;
                max-width: 500px;
                text-align: center;
            }
        }
    }

    .masters__ {
        &inner {
            flex-direction: column;
            border-radius: 0;
            padding: 60px 20px 125px;
            overflow: hidden;
            align-items: center;
            justify-content: center;

            &::after {
                transform: scale(.6);
            }
        }

        &title {
            text-align: center;
        }

        &text {
            font-size: 15px;
            text-align: center;
        }

        &item {
            max-width: 180px;
        }

        &animate {
            display: none;
        }

        &mobile__animate {
            display: block;
        }
    }
    .price__{
        &content {
            display: none;
        }
        &content--mobile{
            display: flex;
        }
        &name {
            max-width: 345px;
            width: 100%;
            text-align: center;
        }
    }

    .swiper {
        max-width: 690px;
    }
}

@media (max-width:600px) {
    .quality__ {
        &inner {
            padding: 15px;
        }

        &title {
            font-size: 26px;

            &::after {
                display: none;
            }
        }

        &text {
            font-size: 14px;
        }
    }

    .footer {
        &__head {
            grid-template-columns: 1fr;
            gap: 20px;
            position: relative;

            &-city,
            &-mail,
            &-tel {
                justify-self: center;
            }

            &-city {
                position: static;
            }
        }

        &__choice {
            left: 22vw;
            top: 55%;
            width: 280px;
            text-align: center;
        }

        &__logo {
            justify-self: center;
            margin-bottom: 20px;
        }

        &__basic {
            grid-template-columns: 1fr;
            justify-items: center;
            margin-bottom: 50px;
            gap: 50px;

            h5 {
                font-size: 20px;
            }

            &-nav {
                text-align: center;
                position: relative;

                h5 {
                    margin-bottom: 15px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 610px;
                    height: 1px;
                    background: #343b4e26;
                    right: -200%;
                    top: -10%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 610px;
                    height: 1px;
                    background: #343b4e26;
                    left: -200%;
                    bottom: -10%;
                }
            }

            &__copy-doc {
                display: block;
            }

            &-pay {
                justify-self: center;

                li {
                    width: 100%;
                }

                h5 {
                    margin-bottom: 15px;
                }
            }
        }

        &__app {
            position: relative;

            ul {
                gap: 10px;

                img {
                    width: 100%;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 610px;
                height: 1px;
                background: #343b4e26;
                left: -33%;
                top: -52%;
            }

            &::after {
                content: '';
                position: absolute;
                width: 610px;
                height: 1px;
                background: #343b4e26;
                left: -33%;
                bottom: -52%;
            }
        }

        &__copy {
            grid-template-columns: 1fr;

            &-doc {
                display: none;
            }

            p {
                justify-self: start;
            }
        }
    }
}

@media (max-width:500px) {
    .hero__ {
        &title {
            font-size: 30px;
            margin-bottom: 20px;
        }

        &text {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    .works__ {
        &title {
            font-size: 26px;
        }

        &item {
            &__img {
                padding: 19px 50px 30px;
            }

            &__title {
                font-size: 16px;
            }

            &__text {
                font-size: 14px;
            }
        }
    }
    .price__{
        &wrapper {
            padding: 60px 17px;
        }
        &title {
            font-size: 26px;
        }
        &subtitle {
            font-size: 14px;
        }
        &content--mobile {
            font-size: 14px;
        }
        &footer__arrow {
            transform: scale(.8);
        }
    }
}

@media (max-width:400px) {
    .hero__ {
        &inner {
            gap: 40px;
        }

        &tel {
            display: none;
        }

        &button {
            font-size: 12px;
            padding: 18px 31px;
        }
    }

    .works__ {
        &item {
            &__img {
                padding: 10px 15px;
            }
        }
    }

    .modal {

        &-window,
        &-call-window,
        &-call-send-window,
        &-call-tel-window,
        &-call--tel-send-window {
            padding: 30px 25px 50px;
        }

        &-call-title {
            font-size: 20px;
        }

        &-call-send-text {
            font-size: 16px;
        }
    }

    .contact__label {
        span {
            font-size: 16px;
        }
    }

    .contact-doc {
        font-size: 12px;
    }

    .footer {
        &__choice {
            left: 7vw;
        }
    }
}