@import "reset";
@import "vars";

/*=========================================================*/
.body {
    color: $text-color;
    font-family: "Rubik", "Arial", sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.footer__main {
    margin-bottom: 40px;
    padding-top: 50px;
    border-top: 1px solid #343b4e1a;
}

.body--fixed {
    overflow-y: hidden;
}

.swiper {
    max-width: 330px;
    max-height: 819px;
    margin: 0 0;

    &-second {
        max-width: 330px;
        max-height: 819px;
        margin: 0 0;
    }
}

.container-min {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    background: $button-color;
    position: relative;
    padding: 18px 58px;
    border-radius: 64px;
    color: #fff;
    transition: $transition;

    &::after {
        transition: $transition;
        content: '';
        position: absolute;
        top: -6%;
        left: 20%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        width: 140px;
        height: 70px;
        border-radius: 50%;

    }

    &:hover::after {
        opacity: .15;
        visibility: visible;
    }
}

.header__main {
    margin-bottom: 45px;
}

.hero__main,
.quality__main,
.works__main,
.masters__main,
.price__main {
    margin-bottom: 180px;
}


.wrapper-modal,
.wrapper-modal-call,
.wrapper-modal-call-send,
.wrapper-modal-call-tel,
.wrapper-modal-call-tel-send {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343b4e4d;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    padding: 15px;
}


.modal--open {
    visibility: visible;
    opacity: 1;
}

.modal-window {
    position: relative;
    max-width: 500px;
    width: 100%;
    transform: translateY(-100%);
    padding: 30px 50px 50px;
    background: #fff;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    text-align: center;
}

.modal-call-window,
.modal-call-tel-window {
    position: relative;
    max-width: 490px;
    width: 100%;
    transform: translateY(-100%);
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
}

.modal-call-send,
.modal-call--tel-send {
    &-window {
        position: relative;
        max-width: 490px;
        width: 100%;
        transform: translateY(-100%);
        padding: 50px;
        background: #fff;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        transition: $transition;

        img {
            margin-bottom: 35px;
        }
    }

    &-text {
        font-size: 18px;
        font-weight: 400;
        opacity: .7;
        max-width: 380px;
    }
}

.modal-call__close-btn,
.modal-call-send__close-btn,
.modal-tel__close-btn {
    cursor: pointer;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
}

.contact__label {
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
        font-size: 18px;
    }
}

.field__input {
    border: 1px solid #343b4e26;
    border-radius: 5px;
    height: 70px;
    padding: 23px 25px;
    opacity: .5;
    font-size: 16px;
}

.contact-doc {
    opacity: .5;
    margin-bottom: 35px;

    a {
        text-decoration: underline;
    }
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 175px;
    text-align: center;

    &::after {
        top: -10%;
        left: 16%;
        width: 120px;
    }
}

.modal__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.modal-call-title {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.nav-modal {
    margin-bottom: 33px;
}

.nav-modal__list {
    border-bottom: 1px solid #343b4e1a;
}

.modal__contact {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.modal-city {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;

    &__ul {
        position: absolute;
        z-index: 10;
        background: #fff;
        top: 85%;
        padding: 5px 9px;
        transition: $transition;
        @include display-off;
        transform: translateY(-30%);

        &--open {
            @include display-on;
            transform: translateY(0);
        }
    }

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.main {
    &-city {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 19px;

        &-icon {
            transition: $transition;

            &--rotate {
                transform: rotateZ(180deg);
            }
        }
    }
}

.modal__tel {
    a {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.modal-window--transform {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.modal__close-btn,
.modal-call__close-btn,
.modal-call-send__close-btn,
.modal-tel__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
}

.close__modal {
    cursor: pointer;
}

.close__modal rect,
.close__modal path {
    transition: $transition;
}

.modal__close-btn:hover path,
.modal__close-btn:hover rect {
    stroke: #B197B2;
}



/*=========================================================*/

@import "header";
@import "main";
@import "footer";

/*=========================================================*/

@import "media";