* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

/*=========================================================*/
.body {
  color: #343b4e;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__main {
  margin-bottom: 40px;
  padding-top: 50px;
  border-top: 1px solid rgba(52, 59, 78, 0.1019607843);
}

.body--fixed {
  overflow-y: hidden;
}

.container-min {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  background: #FF7826;
  position: relative;
  padding: 18px 58px;
  border-radius: 64px;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button::after {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  content: "";
  position: absolute;
  top: -6%;
  left: 20%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  width: 140px;
  height: 70px;
  border-radius: 50%;
}
.button:hover::after {
  opacity: 0.15;
  visibility: visible;
}

.header__main {
  margin-bottom: 45px;
}

.hero__main,
.quality__main,
.works__main,
.masters__main {
  margin-bottom: 180px;
}

.wrapper-modal,
.wrapper-modal-call,
.wrapper-modal-call-send,
.wrapper-modal-call-tel,
.wrapper-modal-call-tel-send {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(52, 59, 78, 0.3019607843);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 15px;
}

.modal--open {
  visibility: visible;
  opacity: 1;
}

.modal-window {
  position: relative;
  max-width: 500px;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 30px 50px 50px;
  background: #fff;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}

.modal-call-window,
.modal-call-tel-window {
  position: relative;
  max-width: 490px;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 50px;
  background: #fff;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal-call-send-window,
.modal-call--tel-send-window {
  position: relative;
  max-width: 490px;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 50px;
  background: #fff;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal-call-send-window img,
.modal-call--tel-send-window img {
  margin-bottom: 35px;
}
.modal-call-send-text,
.modal-call--tel-send-text {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  max-width: 380px;
}

.modal-call__close-btn,
.modal-call-send__close-btn,
.modal-tel__close-btn {
  cursor: pointer;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 35px;
}

.contact__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.contact__label span {
  font-size: 18px;
}

.field__input {
  border: 1px solid rgba(52, 59, 78, 0.1490196078);
  border-radius: 5px;
  height: 70px;
  padding: 23px 25px;
  opacity: 0.5;
  font-size: 16px;
}

.contact-doc {
  opacity: 0.5;
  margin-bottom: 35px;
}
.contact-doc a {
  text-decoration: underline;
}

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 175px;
  text-align: center;
}
.contact-button::after {
  top: -10%;
  left: 16%;
  width: 120px;
}

.modal__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.modal-call-title {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.nav-modal {
  margin-bottom: 33px;
}

.nav-modal__list {
  border-bottom: 1px solid rgba(52, 59, 78, 0.1019607843);
}

.modal__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.modal-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.modal-city__ul {
  position: absolute;
  z-index: 10;
  background: #fff;
  top: 85%;
  padding: 5px 9px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
}
.modal-city__ul--open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.modal-city li {
  margin-bottom: 10px;
}
.modal-city li:last-child {
  margin-bottom: 0;
}
.modal-city li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 19px;
}
.main-city-icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.main-city-icon--rotate {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.modal__tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.modal-window--transform {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.modal__close-btn,
.modal-call__close-btn,
.modal-call-send__close-btn,
.modal-tel__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
}

.close__modal {
  cursor: pointer;
}

.close__modal rect,
.close__modal path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal__close-btn:hover path,
.modal__close-btn:hover rect {
  stroke: #B197B2;
}

/*=========================================================*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  font-size: 16px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 0 15px;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.header__contact address {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__contact address:hover {
  color: #8B4EE7;
}
.header__mobile-contact {
  display: none;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.header .form {
  z-index: 5;
}
.header .dropdown {
  background: #fff;
  position: relative;
  width: 200px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
}
.header .nav-icon {
  margin-right: 10px;
}
.header .dropdown.is-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header .dropdown-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}
.header .dropdown-options-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -50%;
  top: 170%;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  z-index: -1;
  border: 1px solid rgba(52, 59, 78, 0.1490196078);
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  width: 245px;
  background: #fff;
}
.header .is-opened .dropdown-options-container {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 5;
}
.header .dropdown-option {
  margin-bottom: 16px;
}
.header .dropdown-option:last-child {
  margin-bottom: 0;
}
.header .dropdown-inner,
.header .dropdown-value,
.header .dropdown-icon {
  pointer-events: none;
}
.header .dropdown-value {
  margin-right: 7px;
}
.header .dropdown-icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .is-opened .dropdown-icon {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.burger-icon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #8B4EE7;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  position: relative;
}
.burger-icon::before {
  position: absolute;
  top: -2px;
  content: url(../img/icons/burger-line.svg);
}
.burger-icon::after {
  position: absolute;
  bottom: 5px;
  content: url(../img/icons/burger-line.svg);
}

.nav {
  padding: 0 15px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav__item:hover {
  color: #8B4EE7;
}
.nav__item-mobile {
  display: none;
}

.hero__inner {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  max-width: 590px;
}
.hero__title {
  font-size: 60px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.hero__text {
  font-size: 20px;
  max-width: 410px;
  opacity: 0.7;
  margin-bottom: 60px;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__tel {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FF7826;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.hero__tel path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.hero__tel:hover {
  background: #FF7826;
}
.hero__tel:hover path {
  fill: #fff;
}
.hero__img {
  max-width: 839px;
  position: relative;
  z-index: -1;
}
.hero__img img {
  width: 100%;
}

.quality__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fbf8ff;
  border-radius: 50px;
  padding: 30px;
}
.quality__img img {
  width: 100%;
}
.quality__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
}
.quality__title {
  font-size: 50px;
  line-height: 1.3;
  max-width: 436px;
  margin-bottom: 30px;
  position: relative;
}
.quality__title::after {
  content: url("../img/icons/star-y.svg");
  position: absolute;
  max-width: 30px;
  top: -20%;
  right: -10%;
}
.quality__text {
  max-width: 436px;
  font-size: 18px;
}

.works__inner {
  padding: 20px;
}
.works__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works__title {
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 80px;
}
.works__button {
  display: none;
  border-radius: 64px;
  padding: 14px 30px;
  background: #4db45e;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  height: 100%;
}
.works__button-mobile {
  display: none;
  border-radius: 64px;
  padding: 18px 30px;
  background: #4db45e;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  height: 100%;
  max-width: 160px;
  margin: 0 auto;
  margin-top: 30px;
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 103px;
}
.works__item img {
  width: 100%;
  max-width: 308px;
}
.works__item__img {
  border: 1px solid rgba(52, 59, 78, 0.1294117647);
  border-radius: 15px;
  padding: 32px 57px 39px;
  max-width: 422px;
  height: 291px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works__item__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.works__item__text {
  font-size: 18px;
  opacity: 0.7;
  max-width: 423px;
}
.works__item__step {
  font-size: 18px;
}
.works__one {
  background: #ffa3b3;
  padding: 16px 30px;
  color: #fff;
  border-radius: 73px;
  margin-bottom: 34px;
  position: relative;
  max-width: 113px;
}
.works__one::after {
  content: url("../img/Line.svg");
  top: 20%;
  right: -365%;
  position: absolute;
}
.works__two {
  padding: 16px 30px;
  color: #fff;
  border-radius: 73px;
  margin-bottom: 34px;
  position: relative;
  max-width: 113px;
  background: #f9c758;
}
.works__two::after {
  content: url("../img/Line.svg");
  top: 20%;
  right: -365%;
  position: absolute;
}
.works__three {
  background: #fd856d;
  padding: 16px 30px;
  color: #fff;
  border-radius: 73px;
  margin-bottom: 34px;
  position: relative;
  max-width: 113px;
}

.masters__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 255px;
  background: #f5efff;
  border-radius: 50px;
  min-height: 819px;
}
.masters__title {
  font-size: 50px;
  line-height: 1.3;
  max-width: 515px;
  margin-bottom: 30px;
}
.masters__text {
  max-width: 535px;
  opacity: 0.7;
  font-size: 18px;
}
.masters__animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
}
.masters__item {
  background: #fff;
  border-radius: 30px;
  padding: 50px 40px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}
.footer__head {
  display: grid;
  grid-template-columns: 0.75fr 0.8fr 1fr 1fr;
  margin-bottom: 100px;
  font-size: 24px;
  gap: 50px 0;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}
.footer__head-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  position: relative;
  cursor: pointer;
}
.footer__choice {
  position: absolute;
  top: 130%;
  left: 20%;
  width: 221px;
  padding: 10px 25px;
  border: 1px solid rgba(52, 59, 78, 0.1490196078);
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__choice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__choice img {
  opacity: 0.5;
}
.footer__choice--open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.footer__head-mail span {
  margin-right: -6px;
}
.footer .nav-check-icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer .nav-check-icon--rotate {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
.footer .footer__head-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}
.footer .footer__head-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}
.footer__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}
.footer__basic__copy-doc {
  display: none;
  text-align: center;
}
.footer__basic__copy-doc ul {
  opacity: 0.5;
}
.footer__basic::after {
  content: "";
  position: absolute;
  bottom: -20%;
  height: 1px;
  width: 100vw;
  background: rgba(52, 59, 78, 0.1019607843);
}
.footer__basic-nav h5 {
  font-size: 24px;
  margin-bottom: 30px;
}
.footer__basic-nav ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px 76px;
}
.footer__nav-link {
  opacity: 0.5;
}
.footer__basic-pay {
  max-width: 368px;
  width: 100%;
}
.footer__basic-pay h5 {
  font-size: 24px;
  margin-bottom: 30px;
}
.footer__basic-pay ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.footer__basic-pay ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  height: 68px;
  border: 1px solid rgba(52, 59, 78, 0.0862745098);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 41px -27px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 41px -27px rgba(0, 0, 0, 0.2);
}
.footer__basic-pay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  opacity: 0.5;
}
.footer__app {
  -ms-flex-item-align: center;
      align-self: center;
}
.footer__app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer__copy {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1.6fr;
}
.footer__copy span {
  opacity: 0.5;
}
.footer__copy p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  justify-self: end;
}
.footer__copy p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 15px;
}
.footer__copy p a img {
  width: 10px;
}

/*=========================================================*/
@media (max-width: 1300px) {
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contact address {
    display: none;
  }
  .header__mobile-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .quality__add {
    margin-top: 8vw;
  }
  .works__list {
    gap: 50px;
  }
  .works__one::after, .works__two::after {
    scale: 0.8;
    -webkit-transform: translateX(-15%);
        -ms-transform: translateX(-15%);
            transform: translateX(-15%);
  }
}
@media (max-width: 1100px) {
  .hero__main,
  .quality__main,
  .works__main {
    margin-bottom: 90px;
  }
  .header__contact {
    display: none;
  }
  .burger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__title {
    font-size: 40px;
    max-width: 385px;
  }
  .hero__text {
    font-size: 18px;
  }
  .quality__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .quality__title::after {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .quality__text {
    font-size: 16px;
  }
  .works__inner {
    max-width: 740px;
    margin: 0 auto;
  }
  .works__title {
    font-size: 30px;
  }
  .works__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .works__list::after {
    content: url("../img/line-2.svg");
    position: absolute;
    top: 18.5%;
    left: 46%;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 77px;
  }
  .works__item__info {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .works__item__img {
    max-width: 355px;
    max-height: 230px;
    margin-bottom: 0;
  }
  .works__item__title {
    font-size: 18px;
  }
  .works__item__text {
    font-size: 16px;
  }
  .works__item__step {
    font-size: 14px;
  }
  .works__one, .works__two, .works__three {
    padding: 8px 25px;
    max-width: 89px;
  }
  .works__one::after, .works__two::after, .works__three::after {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav__item {
    margin-bottom: 20px;
  }
  .footer__head {
    grid-template-columns: 0.8fr 1fr 1fr;
    font-size: 20px;
  }
  .footer__logo {
    grid-column: 1/-1;
  }
  .footer__basic-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .footer__basic-pay h5 {
    text-align: center;
  }
  .footer__basic-pay div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__app ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .footer__copy {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media (max-width: 900px) {
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title {
    text-align: center;
    max-width: none;
  }
  .hero__text {
    text-align: center;
  }
  .hero__img {
    max-width: 600px;
  }
  .quality__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-radius: 20px;
  }
  .quality__info {
    margin-right: 0;
    margin-bottom: -10%;
    text-align: center;
  }
  .quality__text {
    max-width: 500px;
  }
}
@media (max-width: 800px) {
  .footer__head {
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .footer__head-city, .footer__head-tel {
    justify-self: end;
  }
  .footer__head-mail {
    justify-self: baseline;
  }
  .footer__choice {
    left: -35%;
  }
  .footer__basic {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 20px 0;
  }
  .footer__basic-pay {
    justify-self: end;
  }
  .footer__logo {
    grid-column: 1/2;
  }
  .footer__app {
    grid-column: 1/-1;
    justify-self: center;
  }
  .footer__app ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 700px) {
  .works__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works__title {
    margin-bottom: 40px;
  }
  .works__button {
    display: none;
  }
  .works__button-mobile {
    display: block;
  }
  .works__list {
    gap: 30px;
  }
  .works__list::after {
    display: none;
  }
  .works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .works__item__info {
    -ms-flex-item-align: center;
        align-self: center;
    max-width: 500px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .quality__inner {
    padding: 15px;
  }
  .quality__title {
    font-size: 26px;
  }
  .quality__title::after {
    display: none;
  }
  .quality__text {
    font-size: 14px;
  }
  .footer__head {
    grid-template-columns: 1fr;
    gap: 20px;
    position: relative;
  }
  .footer__head-city, .footer__head-mail, .footer__head-tel {
    justify-self: center;
  }
  .footer__head-city {
    position: static;
  }
  .footer__choice {
    left: 22vw;
    top: 55%;
    width: 280px;
    text-align: center;
  }
  .footer__logo {
    justify-self: center;
    margin-bottom: 20px;
  }
  .footer__basic {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 50px;
    gap: 50px;
  }
  .footer__basic h5 {
    font-size: 20px;
  }
  .footer__basic-nav {
    text-align: center;
    position: relative;
  }
  .footer__basic-nav h5 {
    margin-bottom: 15px;
  }
  .footer__basic-nav::before {
    content: "";
    position: absolute;
    width: 610px;
    height: 1px;
    background: rgba(52, 59, 78, 0.1490196078);
    right: -200%;
    top: -10%;
  }
  .footer__basic-nav::after {
    content: "";
    position: absolute;
    width: 610px;
    height: 1px;
    background: rgba(52, 59, 78, 0.1490196078);
    left: -200%;
    bottom: -10%;
  }
  .footer__basic__copy-doc {
    display: block;
  }
  .footer__basic-pay {
    justify-self: center;
  }
  .footer__basic-pay li {
    width: 100%;
  }
  .footer__basic-pay h5 {
    margin-bottom: 15px;
  }
  .footer__app {
    position: relative;
  }
  .footer__app ul {
    gap: 10px;
  }
  .footer__app ul img {
    width: 100%;
  }
  .footer__app::before {
    content: "";
    position: absolute;
    width: 610px;
    height: 1px;
    background: rgba(52, 59, 78, 0.1490196078);
    left: -33%;
    top: -52%;
  }
  .footer__app::after {
    content: "";
    position: absolute;
    width: 610px;
    height: 1px;
    background: rgba(52, 59, 78, 0.1490196078);
    left: -33%;
    bottom: -52%;
  }
  .footer__copy {
    grid-template-columns: 1fr;
  }
  .footer__copy-doc {
    display: none;
  }
  .footer__copy p {
    justify-self: start;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .works__title {
    font-size: 26px;
  }
  .works__item__img {
    padding: 19px 50px 30px;
  }
  .works__item__title {
    font-size: 16px;
  }
  .works__item__text {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .hero__inner {
    gap: 40px;
  }
  .hero__tel {
    display: none;
  }
  .hero__button {
    font-size: 12px;
    padding: 18px 31px;
  }
  .works__item__img {
    padding: 10px 15px;
  }
  .modal-window, .modal-call-window, .modal-call-send-window, .modal-call-tel-window, .modal-call--tel-send-window {
    padding: 30px 25px 50px;
  }
  .modal-call-title {
    font-size: 20px;
  }
  .modal-call-send-text {
    font-size: 16px;
  }
  .contact__label span {
    font-size: 16px;
  }
  .contact-doc {
    font-size: 12px;
  }
  .footer__choice {
    left: 7vw;
  }
}