* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

/*=========================================================*/
.body {
  color: #343b4e;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header__main {
  margin-bottom: 45px;
}

/*=========================================================*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  font-size: 16px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 0 15px;
}

.burger-icon {
  display: none;
}
@media (max-width: 900px) {
  .burger-icon {
    display: block;
  }
}

.nav {
  padding: 0 15px;
}
@media (max-width: 900px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5vw;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
@media (max-width: 1100px) {
  .header__contact {
    display: none;
  }
}
.header__contact .form {
  z-index: 5;
}
.header__contact .dropdown {
  background: #fff;
  position: relative;
  width: 200px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
}
.header__contact .nav-icon {
  margin-right: 10px;
}
.header__contact .dropdown.is-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header__contact .dropdown-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}
.header__contact .dropdown-options-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -50%;
  top: 170%;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  z-index: -1;
  border: 1px solid rgba(52, 59, 78, 0.1490196078);
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  width: 245px;
}
.header__contact .is-opened .dropdown-options-container {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 5;
}
.header__contact .dropdown-option {
  margin-bottom: 16px;
}
.header__contact .dropdown-option:last-child {
  margin-bottom: 0;
}
.header__contact .dropdown-option:hover {
  background: #e6e6e6;
}
.header__contact .dropdown-inner,
.header__contact .dropdown-value,
.header__contact .dropdown-icon {
  pointer-events: none;
}
.header__contact .dropdown-value {
  margin-right: 7px;
}
.header__contact .dropdown-icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contact .is-opened .dropdown-icon {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
@media (max-width: 1300px) {
  .header__contact address {
    display: none;
  }
}