@font-face {
    font-family: "Kalnia";
    src:
        local('Kalnia Medium'),
        local('Kalnia-Medium'),
        url('../fonts/Kalnia-Medium.woff2') format('woff2'),
        url('../fonts/Kalnia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalnia";
    src:
        local('Kalnia Regular'),
        local('Kalnia-Regular'),
        url('../fonts/Kalnia-Regular.woff2') format('woff2'),
        url('../fonts/Kalnia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}